<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello From Main Front End Page</h1>
    <tbody>
        {% for img in images %}  
          <tr>
            <td>{{img.title}}</td>
            <td><img src="/{{ BASIC_DIR }}/{{img.img}}" width="120"/></td>
          </tr>
          {% endfor %} 
        </tbody>
</body>
</html>